.body {
    outline: 2px solid ;
}






.nav-wrapper {
    outline: 2px solid;
    background-size: cover;
    padding-left: 50%;
    padding-right: 50%;
    background-image: url(./pictures/landing.jpg)
}
#nav-wrapper-1 {
    background-size: 80%;
}

.hero-contaier {
    display: flex;
    justify-content: space-between;
    height: 180px;
    
}
.hero-1 {
    flex-wrap: wrap;
    width: 10%;
    flex-grow: 1;
}
.hero-1 p-1 {
    background-color: antiquewhite;

}
.hero-1 p-2 {
    background-color: rgb(236, 99, 48);
}
.offer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: thistle;
    width: 100px;
    height: 100px;

}
.hero-2 {
    background-image: url(./pictures/breakfast.jpg) ;
    flex-grow: 2;

}
.hero-3 {
    background-image: url(./pictures/lunch.jpg) ;
    flex-grow: 2;
}
.hero-4 {
    background-image: url(./pictures/dinner.jpg);
    flex-grow: 2;
}
.hero-container-1 {

}
.fast-food {
    flex-wrap: wrap;
    float: right;
   
}




