body {
    margin: 10px 10px;
    border: 2px solid black;
    padding: 10px 10px;
}
.nav-wrapper {
    border: 2px solid black;
    margin: 10px 0px;
    padding: 20% 40%;
    background-image: 
     url(./pictures/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 #wrapper {
    width: 35px;
    height: 5px;
    background-color: azure;
    margin: 6px 0px;

}
.nav-wrapper-1 {
    background-image: url(./pictures/logoBig.png );
    background-size: 40%;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.nav-wrapper-1, h1, span{
    text-decoration: antiquewhite;
    font-weight: 200; 

}

.hero-contaier{
    border: 2px solid;
    padding: 6.5%;
    display: flex;
    justify-content: space-around;
}
.hero-1{
    flex-direction: column;
    height: 80%;
}
.hero-2{
    flex-grow: 2;
    max-height: 80%;

}
.hero-3{ 
    flex-grow: 2; 
}
.hero-4{ 
    flex-grow: 2;
}
.hero-container-1{
    border: 2px solid;
    margin: 2px;
  
}
.container-01 {
    border: 2px solid;
    margin: 2px;


}
#image-1 {
    position: relative;
    top: 0;
    left: 0;
}
.image-1 {
    position: relative;
    top: 0;
    left: 0;
    border: opx;
}
.image-2 {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px;
}

.fast-food{
    float: left;


}

